.background-transition {
    background-color: rgb(78, 28, 124);
    color: #fff;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    transition: background-color 0.8s ease;
}

.background-transition:HOVER{
    background-color: rgb(0, 128, 128);

}